{% extends "license.html" %}
{% block content %}

<section id="wrapper">
	<section>
		<img src="/assets/static/images/license/icon-framer.png" srcset="/assets/static/images/license/icon-framer@2x.png 2x">
		<h1>Activating Framer&hellip;</h1>
		<p>If this does not work, open Framer and enter your license manually.<br></p>
	</section>
</section>

<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-37076997-6', 'auto');
	ga('send', 'pageview');
</script>

{% endblock %}
