/* Reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}
*, *:before, *:after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);

html, body, #wrapper {
	height: 100%;
}

body {
	font:16px/1 "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	height: 100%;
	background: #000;
	color: #fff;
	text-align: center;
}
h1 {
	display: block;
	font-size: 28px;
	line-height: 1.4;
	margin: 0 auto;
	font-weight: 300;
}
h1 img {
	display: block;
	margin: 0 auto;
	margin-bottom: 34px;
}
p, li {
	line-height:1.4;
	color: #fff;
	max-width: 400px;
	margin: 0 auto;
}

a {
	text-decoration: none;
	color: #fff;
}
#wrapper {
	display: table;
	max-width: 400px;
	margin: 0 auto;
}
#wrapper section {
	display: table-cell;
	vertical-align: middle;
}
input {
	outline: none;
	-webkit-appearance: none;
}
.form {
	position: relative;
	margin-top: 34px;
}
input {
	border: none;
	width: 300px;
	height: 48px;
	border-radius: 3px 0 0 3px;
	box-sizing: border-box;
	padding-left: 16px;
	padding-right: 16px;
	font:14px/1 "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
	display: inline-block;
	color: #616367;
	position: relative;
	left: -20px;
	z-index: 50;
	text-overflow: ellipsis;
}
input.full-width {
	width:350px;
	border-radius: 3px;
	padding-right:48px;
	left:0;
}
::-webkit-input-placeholder {
   padding-top: 2px;
}
input::selection {
    background: #28AFFA;
    color: #fff;
}
button {
	background: #28AFFA;
	/*background: #69C7FC;*/
	font: 600 12px/1 "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 1px;
	border: none;
	height: 48px;
	width: 100px;
	box-sizing: border-box;
	padding-top:4px;
	border-radius: 0 3px 3px 0;
	position: absolute;
	top: 0;
	right: 20px;
	z-index: 100;
	cursor: pointer;
	-webkit-font-smoothing: antialiased;
}
button.active {
	background: #28AFFA;
}
button.active:hover,
button:hover {
	background: #3EB7FB;
}
button.active:active,
button:active {
	background: #28AFFA;
}
.btn-close {
	position: absolute;
	top: 13px;
	right: 32px;
	cursor: pointer;
	z-index: 60;
	opacity: 0.5;
	-webkit-transition: opacity 0.2s ease;
	-moz-transition: opacity 0.2s ease;
	-ms-transition: opacity 0.2s ease;
	-o-transition: opacity 0.2s ease;
	transition: opacity 0.2s ease;
}
.btn-close:hover {
	opacity: 1;
}
.submit-error,
.success-message {
	position: absolute;
	background: #393440;
	color: #FF8080;
	font-size: 10px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 500;
	height: 48px;
	border-radius:0 0 3px 3px;
	box-sizing: border-box;
	padding: 22px 0 0 16px;
	width: 350px;
	margin: -48px 30px 0 30px;
	text-align: left;
	z-index: 10;
	opacity: 0;

	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.submit-error.show,
.success-message.show {
	opacity: 1;
	margin-top: 0;
}
.success-message.show {
	z-index: 30;
}
.success-message {
	background: #2C3B4D;
	color: #7FD1FF;
}

/* Custom Lists */
ul.numbered {
    counter-reset: linenumbers;
    padding: 0 40px;
    margin-top: 34px;
    text-align: left;
}
ul.numbered li {
    line-height: 1.6;
    list-style: none;
}
ul.numbered li+li {
	margin-top: 8px;
}
ul.numbered li:before {
    content: counter(linenumbers);
    counter-increment: linenumbers;
		display: inline-block;
		margin-left: -10px;
		margin-right: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    font-weight: 600;
    font-size: 11px;
    height:19px;
    width:19px;
    box-shadow: 0 0 0 1px rgba(255,255,255,0.6);
    border-radius: 50%;
    line-height: 20px;
    text-align: center;
}
ul.numbered li.sub {
	font-size: 12px;
	opacity: .6;
	margin-left: 18px;
	margin-top: 0px;
}
ul.numbered li.sub:before {
	content: "";
	width: 0; height: 0;
	box-shadow: none;
}
.content-inner li ul li {
	list-style-type: none;
	padding: 0; left: 0;
	margin-top: $space8;
}
