{% extends "base.html" %}
{% block content %}
  
<section id="wrapper">
	<section>
		<h1>
			<img src="/static/images/icon-framer.png" srcset="/static/images/icon-framer@2x.png 2x"> 
			Framer.link
		</h1>

		<div class="form">
			<input id="input" type="text" placeholder="Paste link to a zipped .framer file here" required />
			<button type="submit">Generate</button>
			<a class="btn-close"><img src="/static/images/icon-close.png" srcset="/static/images/icon-close@2x.png 2x"></a>
		</div>

		<p>Paste a link of a zipped framer file to generate a link that can be opened directly within <a href="http://framerjs.com">Framer Studio</a>.</p> 
	</section>
</section>

{% endblock content%}
